{# template to show a full single page #}

{# extend layout #}
{% extends "_layout" %}

{# set vars #}
{% set pageTitle = entry.title %}

{# single page block content #}
{% block content %}
<div class="content" role="main">
	<div class="container container--full">
		<div class="hero">
			<h1 class="pageTitle">{{ entry.title }}</h1>
		</div>
	</div>

	{# loop through matrix for big content #}
	<div class="container container--eight left">
	{% if entry.singlePageContent %}

		{% for block in entry.singlePageContent %}

			{# text #}
			{% if block.type == "textBlock" %}
				{{block.text}}

			{% elseif block.type == "slideshow" %}
				<h3>{{ block.slideshowTitle }}</h3>
				<div class="flexslider">
					<ul class="slides">
					{% for image in block.image %}
						<li>
							<img src="/{{image.getUrl()}}" alt="image">
							<span class="imageTitle">{{ image.title}}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% elseif block.type == "quoteBlock" %}
				<blockquote class="{{ block.position }}">
					{{ block.quote }}
					{{ block.citation }}
				</blockquote>

			{% elseif block.type == "videoBlock" %}
				<div class="videoWrapper">
					{{ block.videoEmbedCode | raw }}
				</div>
			
			{% endif %}
		{% endfor %}	

	{% endif %}
	</div>

	{# loop through matrix for sidebar #}
	<div class="container container--four right">
		
		{% if entry.singlePageSidebar %}

			{% for block in entry.singlePageSidebar %}
				
				{% if block.type == "relationsBlock" %}
					<div>
						<h2>{{block.relatedBlockTitle}}</h2>
						<ul>
							{% for links in block.relatedEntries %}
							<li>
								<a href="{{links.uri}}">{{links.title}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>

				{% elseif block.type == "sidebarText"%}
					{{ block.text }}
				{% endif %}
			{% endfor %}	

		{% endif %}


	</div>
</div>
{% endblock %}